<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Onion Scraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Refresh Articles</button>
                </li>
            </ul>
            <span class="navbar-text">
                News That Will Bring You To Tears
            </span>
        </div>
    </nav>
    <img src="https://s-media-cache-ak0.pinimg.com/originals/a6/93/79/a69379938d91b636820652273abcadec.jpg">